@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.cardProducto{
    margin: 3rem;
    height: auto;
    width: 40px;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 #999; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    color: white;
}

.cardBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloCard{
    font-weight: 600;
}

.imagenProducto{
    width: 50%;
    margin-top: 1rem;
}

