@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.swal2-container.swal2-center>.swal2-popup{
    font-family: 'Open Sans', sans-serif;
}

.swal2-styled.swal2-confirm {
    background-color: rgb(29, 28, 28);
}

.offcanvas.show {
    font-family: 'Poppins', sans-serif;
}